@{
    ViewData["Title"] = "Perfil do Aluno";
}

<h1>Perfil do Aluno</h1>
<p><strong>Nome:</strong> @ViewBag.Nome</p>
<p><strong>Curso:</strong> @ViewBag.Curso</p>
<p><strong>Semestre:</strong> @ViewBag.Semestre</p>

